
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

.clear {
		clear: both;
	}

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
		background-color: #fff; /* Seitenhintergrund */
		z-index: 0;
		font-family: 'Roboto Condensed', sans-serif;
	}

a {
		text-decoration: none;
		color: #6fb123;

		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

a:hover {
		text-decoration: none;
		color: #64865A;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

h1 {
	font-size: 18;
	color: #5CF2FF;
}

.adminHeadline {
  cursor: default;
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  user-select: none;
}

.mainSpan {
  color: #689831;
  font-weight: bold;
  font-size: 13pt;
}

.headline1 {
	color: #689831;
	font-size: 24pt;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.headline2 {
	color: #689831;
	font-size: 18pt;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.headline3 {
	font-size: 14pt;
	color: #689831;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 5px;
}

/******************************/

/* Layout */
/**********/

.sidebar {
  background-color: #2a3136;
  min-width: 200px;

  min-height: 100%;
  height: auto !important;

  margin: 0px;
  position: absolute;
  -moz-box-shadow: 0px 0px 5px #000; /* Firefox */
	-webkit-box-shadow: 0px 0px 5px #000; /* Chrome, Safari */
	-khtml-box-shadow: 0px 0px 5px #000; /* Konqueror */
	box-shadow: 0px 0px 5px #000; /* CSS3 */
}

.sidebar #content {
  margin: 20px;
}

.sidebar #content a {
  display: inline-block;
  margin-bottom: 10px;
}

.sidebar #content p#navHead {
  color: #fff;
}

.mainframe {
  width: auto;
	min-width: 400px;
	position: relative;
	margin-left: 200px;
  padding: 20px;
  float: left;
}
